.register-parent {
  height: 100vh;

  .form {
    height: calc(100vh - 64px - 48px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;

    .top-container {
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 70%;

      @media only screen and (max-height: 768px) {
        height: 90%;
      }

      .element {
        .title {
          font-size: 4.5rem;
          font-weight: 800;
          margin-bottom: 40px;
          text-align: center;

          @media only screen and (max-width: 768px) {
            font-size: 3rem;
          }
        }

        .field {
          position: relative;
          margin-bottom: 32px;

          &:last-child {
            margin-bottom: 0;
          }

          label {
            display: flex;
            font-weight: 700;
            margin-bottom: 4px;
          }

          .input-box {
            width: 100%;
            border: none;
            border: 4px solid black;
            font-size: 1.125rem;
            font-weight: 600;
            color: black;
            padding: 8px 16px;
            background-color: inherit;
            height: 48px;
          }

          &.error {
            .label {
              color: red;
            }

            .input-box {
              border-color: red;
              color: red;
            }

            .info {
              position: absolute;
              top: 72px;
              left: 0;
              font-size: 0.875rem;
              color: red;
            }
          }
        }
      }
    }

    .bottom-container {
      display: flex;
      align-items: start;
      justify-content: center;
      height: 30%;
      padding-top: 40px;
      width: 100%;

      @media only screen and (max-height: 768px) {
        // background-color: red;
        height: 10%;
      }

      .element {
        display: flex;
        flex-direction: column;
        width: 100%;

        .link {
          font-size: 0.875rem;

          a {
            font-weight: 700;
          }
        }
      }
    }
  }
}
