.register {
  height: 100vh;

  .form {
    height: calc(100vh - 64px - 48px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;

    .top-container {
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 70%;

      .element {
        .title {
          font-size: 4.5rem;
          font-weight: 800;
          margin-bottom: 40px;
          text-align: center;
        }

        label {
          display: flex;
          font-weight: 700;
          margin-bottom: 4px;
        }

        .input-box {
          width: 100%;
          border: none;
          border: 4px solid black;
          font-size: 1.125rem;
          font-weight: 600;
          color: black;
          padding: 8px 16px;
          background-color: inherit;
          height: 48px;
          margin-bottom: 24px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .bottom-container {
      display: flex;
      align-items: start;
      justify-content: center;
      height: 30%;
      padding-top: 40px;
      width: 100%;

      .element {
        display: flex;
        flex-direction: column;
        width: 100%;

        .link {
          font-size: 0.875rem;

          a {
            font-weight: 700;
          }
        }
      }
    }
  }
}
