.found {
  height: 100vh;
  position: relative;

  .form {
    height: calc(100% - 107.59px);

    .form-element {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60%;
      text-align: center;

      .title {
        font-size: 4.5rem;
        font-weight: 800;
        margin-bottom: 24px;
      }

      .sub-title {
        font-size: 2rem;
        font-weight: 700;
      }

      .select-box,
      .input-box {
        width: 100%;
        border: none;
        border-bottom: 4px solid black;
        font-size: 1.125rem;
        font-weight: 600;
        color: black;
        padding: 8px 16px;
        background-color: inherit;
        height: 48px;
      }
    }

    .actions {
      display: flex;
      justify-content: center;
      align-items: center;
      // height: 40%;
    }
  }

  .steps-counter {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    right: 0;

    .step {
      flex-direction: column;
      margin-bottom: 16px;
      padding: 4px;
      border: 2px solid black;
      border-radius: 50%;

      &.active {
        background-color: black;
      }
    }
  }
}
