.found {
  height: 100vh;

  .form {
    height: calc(100% - 107.59px);

    display: flex;
    flex-direction: column;
    align-items: center;

    .form-element {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 60%;
      text-align: center;

      .title {
        font-size: 4.5rem;
        font-weight: 800;
        margin-bottom: 24px;
      }

      .sub-title {
        font-size: 2rem;
        font-weight: 700;
      }

      .select-box,
      .input-box {
        width: 100%;
        border: none;
        border-bottom: 4px solid black;
        font-size: 1.125rem;
        font-weight: 600;
        color: black;
        padding: 8px 16px;
        background-color: inherit;
      }
    }

    .actions {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40%;
    }
  }
}
