.error {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .title {
    font-size: 4.5rem;
    margin-bottom: 40px;
    font-weight: 800;
  }
}
