.lost {
  height: 100vh;

  .form {
    height: calc(100vh - 64px - 48px);
    display: flex;
    flex-direction: column;
    align-items: center;

    .top-container {
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 50%;

      .element {
        .title {
          font-size: 4.5rem;
          font-weight: 800;
          margin-bottom: 24px;
          text-align: center;
        }

        .select-box {
          width: 100%;
          border: none;
          border-bottom: 4px solid black;
          font-size: 1.125rem;
          font-weight: 600;
          color: black;
          padding: 8px 16px;
          background-color: inherit;
          height: 48px;
        }
      }
    }

    .bottom-container {
      display: flex;
      align-items: start;
      height: 50%;
      padding-top: 40px;
    }
  }

  .query-search {
    height: calc(100vh - 64px - 48px);
    display: flex;
    flex-direction: column;
    align-items: center;

    .top-container {
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 50%;

      .query-input {
        .title {
          font-size: 4.5rem;
          font-weight: 800;
          margin-bottom: 24px;
          text-align: center;
        }

        .input-box {
          width: 100%;
          border: none;
          border-bottom: 4px solid black;
          font-size: 1.125rem;
          font-weight: 600;
          color: black;
          padding: 8px 16px;
          background-color: inherit;
          height: 48px;
        }
      }
    }

    .bottom-container {
      display: flex;
      align-items: start;
      height: 50%;
      padding-top: 40px;
      width: 100%;
      overflow: auto;

      .query-result {
        width: 100%;

        ul {
          width: 100%;

          li {
            &.dropdown {
              font-size: 2rem;
              font-weight: 600;
              border-bottom: 1px solid lightgray;
              padding: 8px 0;

              &:last-child {
                border-bottom: none;
              }

              &.not-found {
                font-size: 2rem;
                font-weight: 700;
                text-align: center;
                color: gray;
              }

              .elem {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }

              .elem-content {
                padding: 8px;

                .subtitle {
                  font-size: 1.5rem;
                  font-weight: 600;
                  margin-bottom: 4px;
                  text-transform: uppercase;
                }

                p {
                  font-size: 1rem;
                  margin-bottom: 8px;
                }
              }
            }
          }
        }
      }
    }
  }
}
