.home-parent {
  height: 100vh;

  .choose {
    height: calc(100vh - 64px - 48px);
    display: flex;
    flex-direction: column;
    align-items: center;

    .top-container {
      display: flex;
      flex-direction: column;
      justify-content: end;
      height: 45%;

      .title {
        font-size: 4.5rem;
        font-weight: 800;
        text-align: center;

        @media only screen and (max-width: 768px) {
          font-size: 3rem;
        }
      }
    }

    .bottom-container {
      display: flex;
      align-items: start;
      height: 55%;
      padding-top: 40px;
    }
  }
}
