.unauthorized {
  height: calc(100vh - 64px - 48px);

  .top-container {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 50%;

    .warning {
      text-align: center;

      .title {
        font-size: 4.5rem;
        font-weight: 800;
        margin-bottom: 16px;

        @media only screen and (max-width: 768px) {
          font-size: 3rem;
        }
      }

      .sub-title {
        font-size: 2rem;
        font-weight: 700;
        color: gray;

        @media only screen and (max-width: 768px) {
          font-size: 1.5rem;
        }
      }
    }
  }

  .bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;

    .button {
      margin-top: 40px;
    }
  }
}
