.navbar-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;

  .info,
  .menu {
    display: flex;
    align-items: center;
  }

  .info {
    .logo {
      font-weight: 800;
    }

    .go-back {
      max-width: 16px;
    }

    .current-location {
      margin-left: 8px;
      font-weight: 800;
    }
  }

  .menu {
    .dashboard {
      padding-right: 16px;

      a {
        text-decoration: none;
      }
    }

    .login {
      text-decoration: none;
      margin-right: 16px;
      font-size: 0.875rem;
    }
  }
}
